@font-face{
    font-family: DINNextRoundedLTPro-Bold;
    src: url('../fonts/DINNextRoundedLTPro-Bold.otf')
}
@font-face{
    font-family: DINNextRoundedLTPro-Regular;
    src: url('../fonts/DINNextRoundedLTPro-Regular.otf')
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_1{
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-desktop.jpg);
    background-size: cover;
    background-position: center;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    position: relative;
}
.paciente-sect{
    height: 80vh;
    width: 45%;
    margin-top: auto;
}
.main-logo{
    width: 200px;
    height: 100px;
    position: relative;
    top: 1%;
    left: 30%;


    -webkit-transform: translate(-50%, -600%);
    -moz-transform: translate(-50%, -600%);
    -o-transform: translate(-50%, -600%);
    transform: translate(-50%, -600%);
}
.title-beneficios{
    width: 100%;
    padding: 50px;
    font-family: DINNextRoundedLTPro-Bold;
    padding-top: 90px;
}
.beneficios-sect{
    background: #fff;
    width: 100%;
    text-align: center;
    color: #00788b;
    font-size: 20px;
}
.item-sect{
    width: 90%;
    height: 250px;
    display: flex;
    margin: 0 auto;
    font-family: DINNextRoundedLTPro-Bold;
}
.item-sect img{
    width: 105px;
    height: 105px;
    margin-right: 2px;
}
.item-sect p{
    font-size: 24px;
    margin-top: 20px;
}
img, p{
    display: inline-block;
    vertical-align: middle;
}
.beneficio-item{
    width: 250px;
    height: 250px;
    margin: 2px;
}
.call-action-sect{
    width: 100%;
    background: #39c0cb;
    background-image: url(../img/retina_patt.png);
    margin-top: 5px;
    text-align: center;
    padding: 75px 0px;
    color: #fff;
}
.call-action-sect h1, h3{
    padding: 10px;
    font-family: DINNextRoundedLTPro-Bold;
}
.call-action-sect h1{
    font-size: 36px;
}
.call-action-sect h3{
    font-size: 24px;
    font-family: DINNextRoundedLTPro-Regular;
}
.convenios-sect{
    width: 100%;
    margin-top: 5px;
    color: #00788b;
    font-family: DINNextRoundedLTPro-Bold;
    font-size: 22px;
    padding: 73px 0px;
}
.title-convenios{
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 36px;
}
.convenios-sect-items{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.convenio-item{
    margin: 3px;
    width: 13%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.convenio-item img{
    max-width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    background: #ffcc09;
    text-align: center;
    color: #00788b;
    font-size: 24px;
    vertical-align: middle;
    font-family: DINNextRoundedLTPro-Regular;
    padding: 18px 0px;
    padding-bottom: 13px
}
.footer *{
    vertical-align: middle;
    margin: 5px;
}
.footer span{
    font-family: DINNextRoundedLTPro-Bold;
}
.icon-size{
    width: 20px;
    height: 20px;
}
.button-agenda-cita{
    text-align: center;
    display: block;
    background: #ffcc09;
    border-radius: 10px;
    line-height: 42px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px 10px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: DINNextRoundedLTPro-Bold;
    letter-spacing: 2px;
    color: #00788b;
    -webkit-box-shadow: inset -2px -19px 0px -14px #bf9600;
    -moz-box-shadow: inset -2px -19px 0px -14px #bf9600;
    box-shadow: inset -2px -19px 0px -14px #bf9600;

    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
.button-agenda-cita:hover{
    background: #2dccd3;
    -webkit-box-shadow: inset -2px -19px 0px -14px #289da2;
    -moz-box-shadow: inset -2px -19px 0px -14px #289da2;
    box-shadow: inset -2px -19px 0px -14px #289da2;
}
.icon-agenda img {
    width: 0px;
    overflow-x: hidden;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    transition: 0.15s ease;
    vertical-align: middle;
}
.button-agenda-cita:hover .icon-agenda img{
    width: 26px;
    margin-right: 10px;
}
.info-banner{
    position: relative;
    width: 50%;
    height: 100vh;
}
a.logo-salauno {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
a.logo-salauno img {
    width: 320px;
}
.title-baner {
    font-family: DINNextRoundedLTPro-Bold;
    color: #ffcd02;
    font-size: 45px;
    position: absolute;
    top: 40%;
    left: 47%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}
.subtitle-baner{
    font-family: DINNextRoundedLTPro-Regular;
    font-size: 36px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 47%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 65%;
}
.button-sala-uno.button-agenda-cita {
    position: absolute;
    bottom: 26%;
    left: 47%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 240px;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 46px;
}
.hand-icon{
    width: 62px;
    height: 74px;
    background-image: url(../img/hand.png);
    background-size: cover;
    position: absolute;
    bottom: 15%;
    left: 47%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
section.beneficios-sect h1 {
    font-size: 36px;
}
.beneficio-item:first-child p, .beneficio-item:nth-child(2) p {
    padding: 0px 35px;
}
.buton-body{
    width: 250px;
    font-size: 24px;
    line-height: 45px;
}
.title-convenios h1 {
    font-size: 36px;
}
.divider-footer {
    padding-left: 3px;
    padding-right: 7px;
}
