@media only screen and (max-width: 1439px){
}
@media only screen and (max-width: 1200px){
}
@media only screen and ( max-width: 1024px ) {

  /* Aquí van los estilos para iPad horizontal */
}
@media only screen and ( max-width: 768px ) {

  /* Aquí van los estilos para iPad vertical */
}
@media only screen and (max-width: 679px){
  .section_1{
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-desktop.jpg);
    background-size: cover;
    background-position:90%;
  }
  /* Sección de Beneficios */
  .beneficios-sect{
    background: #fff;
    width: 100%;
    text-align: center;
    color: #00788b;
    font-size: 20px;
  }
  .item-sect{
    width: 90%;
    height: 200px;
    display: flex;
    margin: 0 auto;
    font-family: DINNextRoundedLTPro-Bold;
  }
  .item-sect img{
    width: 85px;
    height: 85px;
  }
  .item-sect p{
  font-size: 16px;
  margin-top: 5px;
  }
  /* Logotipos Seguros */
  .convenios-sect{
    width: 100%;
    margin-top: 5px;
    color: #00788b;
    font-family: DINNextRoundedLTPro-Bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }
  .title-convenios{
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .convenios-sect-items{
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  .convenio-item{
    height: 50px;
    width: 200px;
    margin: 3px;
    vertical-align: middle;
  }
  .convenio-item img{
    width: 100%;
    height: 100%;
  }
}
@media only screen and ( max-width: 480px ) {
  /* Aquí van los estilos para iPhone horizontal */
  .section_1{
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
  .title-beneficios{
    width: 100%;
    padding: 10px;
    font-family: DINNextRoundedLTPro-Bold;
}
  .beneficios-sect{
    background: #fff;
    width: 100%;
    text-align: center;
    color: #00788b;
    font-size: 17px;
  }
  .item-sect{
    width: 100%;
    font-family: DINNextRoundedLTPro-Bold;
    display: block;
    text-align: left;
    line-height: 33px;
    height: auto;
  }
  .beneficio-item{
    width: 100%;
    height: 55px;
    margin-top: 5px;
  }
  .item-sect img{
    width: 55px;
    height: 55px;
    margin-left: 27px;
    margin-right: 27px;
  }
  .item-sect p{
  font-size: 22px;
  }
}
@media only screen and ( max-width: 406px ) {
  .call-action-sect{
    height: 280px;
  }
}
@media only screen and ( max-width: 396px ) {
  .item-sect p{
    font-size: 18px;
    }
    .item-sect img{
      width: 40px;
      height: 40px;
      margin-left: 17px;
      margin-right: 17px;
    }
    .call-action-sect{
      height: 300px;
    }
}