@media only screen and (max-width: 1200px) {
    /* ---------------> H E A D E R   P A R A   1 2 0 0 P X <--------------- */   
    .elementos-banner{
        top: -132%;
        left: 0%;
    }
    .globe-img{
        width: 117%;
        top: -32%;
        left: -8%;
    }
    a.logo-salauno img {
        width: 280px;
    }
    .title-baner {
        font-size: 43px;
    }
    .subtitle-baner {
        font-size: 33px;
    }
    .costo-text{
        font-size: 33px;
    }
    .hand-icon {
        width: 41px;
        height: 49px;
        bottom: 7%;
    }
    .button-sala-uno.button-agenda-cita{
        bottom: 18%;
    }
}
@media only screen and (max-width: 979px) {
    /* ---------------> H E A D E R   P A R A   9 7 9 P X<--------------- */
    .globe-img {
        width: 144%;
        left: -16%;
        top: -2%;
    }
    .elementos-banner {
        top: -102%;
    }
    .main-img{
        width: 100%;
    }
    .main-img img {
        width: 167%;
    }
    .elementos-banner {
        left: 7%;
        top: -100%;
    }
    a.logo-salauno img {
        width: 250px;
    }
    .title-baner {
        font-size: 35px;
    }
    .subtitle-baner {
        font-size: 23px;
    }
    .costo-text{
        font-size: 23px;
    }
    .button-sala-uno.button-agenda-cita {
        width: 166px;
        font-size: 15px;
        bottom: 16%;
    }
    .hand-icon {
        width: 35px;
        height: 42px;
        bottom: 6%;
    }
    /* ---------------> B E N E F I C O S   P A R A   9 7 9 P X<--------------- */
    
    .item-sect{
        width: 100%;
    }
    .item-sect img {
        width: 90px;
        height: 90px;
    }
    .item-sect p {
        font-size: 22px;
    }
 }
 @media only screen and (max-width: 679px) {
    /* ---------------> H E A D E R   P A R A   6 7 9 P X<--------------- */
    .globe-img {
        width: 155%;
        left: -54%;
    }
    .main-img img {
        width: 200%;
    }
    .info-banner {
        width: 100%;
    }
    a.logo-salauno img {
        width: 200px;
    }
    .title-baner {
        font-size: 25px;
        left: 37%;        
    }
    .subtitle-baner {
        font-size: 20px;
        left: 37%;        
    }
    .costo-text{
        font-size: 20px;
        left: 37%;
    }
    a.logo-salauno {
        top: 5%;
        left: 34%;
    }
    .button-sala-uno.button-agenda-cita{
        left: 37%;
    }
    .hand-icon{
        left: 30%;
    }
    /* ---------------> B E N E F I C O S   P A R A   6 7 9 P X<--------------- */
    .beneficio-item:first-child p, .beneficio-item:nth-child(2) p {
        padding: 0px 0px;
    }
    .item-sect img {
        width: 85px;
        height: 85px;
    }
    .item-sect p {
        font-size: 16px;
    }
    /* ---------------> C O N V E N I O S   P A R A   6 7 9 P X<--------------- */
    .convenio-item img {
        width: 80%;
        height: 80%;
    }
    .convenio-item {
        width: 30%;
    }
    .footer {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
}
@media only screen and ( max-width: 481px) {
    /* ---------------> H E A D E R   P A R A   4 8 1 P X <--------------- */
    .banner-sect{
        background: url("../img/fondo-mobile.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .main-img{
        display: none;
    }
    .globe-img{
        display: none;
    }
    .elementos-banner {
        height: 100%;
        top: 2%;
        left: 10%;
    }
    a.logo-salauno {
        top: 1%;
        left: 42%;
    }
    a.logo-salauno img {
        width: 150px;
        left: 42%
    }
    .title-baner {
        font-size: 30px;
        top: 17%;
        left: 42%
    }
    .subtitle-baner {
        font-size: 25px;
        top: 26%;
        left: 42%;
    }
    .costo-text {
        font-size: 25px;
        left: 42%;
        top: 43%;
    }
    .button-sala-uno.button-agenda-cita {
        width: 152px!important; 
        font-size: 13px!important;
        bottom: 38%;
        left: 42%;
    }
    .hand-icon {
        display: none;
    }
    /* ---------------> B E N E F I C I O S   P A R A   4 8 1 P X <--------------- */
    .item-sect {
        width: 100%;
        display: block;
        text-align: left;
        line-height: 30px;
        height: auto;
    }
    .beneficio-item {
        width: 100%;
        height: 55px;
    }
    .item-sect img {
        width: 55px;
        height: 55px;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;
    }
    .item-sect p {
        font-size: 23px;
        margin-top: 10px;
    }
    .title-beneficios{
        padding: 10px;
    }
    .beneficios-sect{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    section.beneficios-sect h1 {
        font-size: 35px;
    }
    /* ---------------> L L A M A D A   P A R A   4 8 1 P X <--------------- */
    .call-action-sect h1 {
        font-size: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .call-action-sect h3 {
        font-size: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    /* ---------------> C O N V E N I O S   P A R A   4 8 1 P X <--------------- */
    .title-convenios h1 {
        font-size: 25px;
        margin-right: 30px;
        margin-left: 30px;
    }
    /* ---------------> F O O T E R   P A R A   4 8 1 P X <--------------- */    
    .footer-mobile {
        font-size: 15px;
    }
    .footer-mobile span{
        font-size: 17px;
    }
    .footer-mobile {
        padding: 10px 0px;
        padding-bottom: 5px
    }
}
@media only screen and ( max-width: 410px) {
    .item-sect p {
        font-size: 19px;
    }
    .item-sect img {
        width: 40px;
        height: 40px;
        margin-left: 17px;
        margin-right: 17px;
    }
    .footer-mobile {
        font-size: 18px;
    }
    .footer-mobile span{
        font-size: 20px;
    }
    .footer-mobile {
        padding: 10px 0px;
        padding-bottom: 5px
    }
}
@media only screen and ( max-width: 340px) {
    .info-banner {
        zoom: 0.9;
    }
    .costo-text {
        top: 47%;
    }
    .call-action-sect h1 {
        font-size: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .call-action-sect h3 {
        font-size: 23px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .item-sect img {
        width: 55px;
        height: 55px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .item-sect p {
        font-size: 15px;
    }
    .footer-mobile {
        font-size: 16px;
    }
    .footer-mobile span{
        font-size: 18px;
    }
    .button-agenda-cita {
        font-size: 18px!important;
        width: 190px!important;
        letter-spacing: 0px!important;
    }
    .title-baner {
        font-size: 25px;
        top: 17%;
        left: 42%
    }
    .subtitle-baner {
        font-size: 20px;
        top: 26%;
        left: 42%;
    }
    .costo-text {
        font-size: 20px;
        left: 42%;
        top: 43%;
    }
}
